# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\180627\Desktop\VGTU\3kursas\ProgramuTechnologijos\Laborai\LaboratorinisTrys-GUI\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
